{% extends 'base.html' %}
{% load static %}

{% block title %}{{show.title}}{% endblock  %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'info/info.css' %}">{% endblock  %} 
{% block content %}
<div class="container">
  {% if show.title_english %}
    <h1 class="title">{{show.title_english}}</h1>
  {% else %}
  <h1 class="title">{{show.title}}</h1>
  {% endif %}

  <div class="row">
    <div class="col-lg-3 col-md-4 show-info-left">
      <div class="img-div">
        <img src="{{show.images.webp.large_image_url}}" class="img-fluid header-img">
      </div>
      <div class="sidebar-btn">
        <div class="row">
          <div class='acc-add-btn'>
            <a class='btn'>Add</a>
          </div>
          <div class='acc-add-btn'>
            <a class='btn'>Update</a>
          </div>
        </div>
      </div>
      
      <div class="sidebar-overview"> 
        <p>Overview</p>
        <hr>
        <ul class="sidebar-list list">
          {% if type == "manga" %}
            <li>Type: {{show.type}}</li>
            <li>Chapters: {{show.chapters}}</li>
            <li>Volumes: {{show.volumes}}</li>
            <li>Status: {{show.status}}</li>
            <li>Score: {{show.score}}</li>
            <li>Rank: {{show.rank|capfirst}}</li>
            <li>Popularity: {{show.popularity}}</li>
            <li>Authors: {% for author in show.authors %}{{author.name}}{% if show.authors|length > 1 %}<span class="comma">,<span> {% endif %}{% endfor %}
          {% else %}
            <li>Type: {{show.type}}</li>
            <li>Episodes: {{show.episodes}}</li>
            <li>Duration: {{show.duration}}</li>
            <li> Status: {{show.status}}</li>
            <li>Score: {{show.score}}</li>
            <li>Rank: {{show.rank}}</li>
            <li>Popularity: {{show.popularity}}</li>
            <li>Source: {{show.source|capfirst}}</li>
          {% endif %}
          
        </ul>
      </div>
    
    </div>
    <div class="col-lg-9 col-md-8 book-info">
      
      <div class="description">
        <h3>Description</h3>
        <hr>
        <p>{{show.synopsis}}</p>
      </div>

      {% if show.trailer %}
        <iframe width="100%" height="315" src="{{show.trailer.embed_url}}" frameborder="0" allowfullscreen></iframe>
      {% endif %}
      
      {% if show.relations|length > 0 %}
      <div class="related">
        <h3>Related</h3>
        <hr>
        <ul class="list">
          {% for related_item in show.relations %}
            {% if type == "manga" %}
              <li>{{related_item.relation|capfirst}}: 
                {% for item in related_item.entry %}
                  {% if related_item.relation == 'Adaptation' %}
                    <a href="{% url 'anime-details' item.mal_id %}">{{item.name}}</a>
                  {% else %}
                    <a href="{% url 'manga-details' item.mal_id%}">{{item.name}}</a>
                  {% endif %}
                  
                  {% if related_item.entry|length > 1 %}<span class="comma">, <span> {% endif %}
                  
                {% endfor %}
              </li>

            {% else %}
              <li>{{related_item.relation|capfirst}}: 
                {% for item in related_item.entry %}
                  {% if related_item.relation == 'Adaptation' %}
                    <a href="{% url 'manga-details' item.mal_id %}">{{item.name}}</a>
                  {% else %}
                    <a href="{% url 'anime-details' item.mal_id%}">{{item.name}}</a>
                  {% endif %}
                  
                  {% if related_item.entry|length > 1 %}<span class="comma">, <span> {% endif %}
                  
                {% endfor %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}


      {% if recommendations %}
        <div class='recommendations'>
          <span class="popular-now-header"><span>Recommendation</span></span>
          <hr>
          <div class="popular-now-body">
            <div class="row">
              {% for show in recommendations %}
                <div class="col-xxl-3 col-xl-3 col-md-4 col-sm-4 col-6 show-card">
                  {% if type == "manga" %}
                  <a href="{% url 'manga-details' show.entry.mal_id %}" class="show-item">
                  {% else %}
                  <a href="{% url 'anime-details' show.entry.mal_id %}" class="show-item">
                  {% endif %}
                    <img src="{{show.entry.images.webp.image_url}}" alt="" class="show-img img-fluid">
                    {% if show.entry.title_english %}
                      <p>{{show.entry.title_english}}</p>
                    {% else %}
                      <p>{{show.entry.title}}</p>
                    {% endif %}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      
    </div>
  </div>
</div>

{% endblock  %}