{% extends 'base.html' %}
{% load static %}

{% block title %}{{show.title}}{% endblock  %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'info/info.css' %}">{% endblock  %} 
{% block content %}

{% comment %} <div class="container text-center">
<section id='header'>
    <div class="img-header" style="background-image: url('{{show.images.webp.large_image_url}}'); background-repeat: no-repeat;  background-size: 100%">
        <div class="background-gradient">
            <img class="header-img img-fluid" src="{{show.images.webp.large_image_url}}" alt="">
        </div>
    </div>

    <div class="header-info">
        <h1 class="show-header-title">{{show.title}}</h1>
    </div>
    <div class="extra-info">
        <span class="extra-info-box carousel-text">{{show.type}}</span>
        <span class="extra-info-box carousel-text">{{show.episodes}} Episodes</span>
        <span class="extra-info-box carousel-text">{{show.duration}}</span>
    </div>
    
</section>
</div> {% endcomment %}

<div class="container">
  {% if show.title_english %}
    <h1 class="title">{{show.title_english}}</h1>
  {% else %}
  <h1 class="title">{{show.title}}</h1>
  {% endif %}

  <div class="row">
    <div class="col-lg-3 col-md-4 show-info-left">
      <div class="img-div">
        <img src="{{show.images.webp.large_image_url}}" class="img-fluid header-img">
      </div>
      <div class="sidebar-btn">
        <div class="row">
          <div class='acc-add-btn'>
            <a class='btn'>Add</a>
          </div>
          <div class='acc-add-btn'>
            <a class='btn'>Update</a>
          </div>
        </div>
      </div>
      
      <div class="sidebar-overview"> 
        <p>Overview</p>
        <hr>
        <ul class="sidebar-list list">
          {% if type == "manga" %}
            <li>Type: {{show.type}}</li>
            <li>Chapters: {{show.chapters}}</li>
            <li>Volumes: {{show.volumes}}</li>
            <li>Status: {{show.status}}</li>
            <li>Score: {{show.score}}</li>
            <li>Rank: {{show.rank|capfirst}}</li>
            <li>Popularity: {{show.popularity}}</li>
            <li>Authors: {% for author in show.authors %}{{author.name}}{% if show.authors|length > 1 %}<span class="comma">,<span> {% endif %}{% endfor %}
          {% else %}
            <li>Type: {{show.type}}</li>
            <li>Episodes: {{show.episodes}}</li>
            <li>Duration: {{show.duration}}</li>
            <li> Status: {{show.status}}</li>
            <li>Score: {{show.score}}</li>
            <li>Rank: {{show.rank}}</li>
            <li>Popularity: {{show.popularity}}</li>
            <li>Source: {{show.source|capfirst}}</li>
          {% endif %}
          
        </ul>
      </div>
    
    </div>
    <div class="col-lg-9 col-md-8 book-info">
      
      <div class="description">
        <h3>Description</h3>
        <hr>
        <p>{{show.synopsis}}</p>
      </div>

      {% if show.trailer %}
        <iframe width="100%" height="315" src="{{show.trailer.embed_url}}" frameborder="0" allowfullscreen></iframe>
      {% endif %}

      <div class="related">
        <h3>Related</h3>
        <hr>
        <ul class="list">
          {% for related_item in show.relations %}
            {% if type == "manga" %}
              <li>{{related_item.relation|capfirst}}: 
                {% for item in related_item.entry %}
                  {% if related_item.relation == 'Adaptation' %}
                    <a href="{% url 'anime-details' item.mal_id %}">{{item.name}}</a>
                  {% else %}
                    <a href="{% url 'manga-details' item.mal_id%}">{{item.name}}</a>
                  {% endif %}
                  
                  {% if related_item.entry|length > 1 %}<span class="comma">, <span> {% endif %}
                  
                {% endfor %}
              </li>

            {% else %}
              <li>{{related_item.relation|capfirst}}: 
                {% for item in related_item.entry %}
                  {% if related_item.relation == 'Adaptation' %}
                    <a href="{% url 'manga-details' item.mal_id %}">{{item.name}}</a>
                  {% else %}
                    <a href="{% url 'anime-details' item.mal_id%}">{{item.name}}</a>
                  {% endif %}
                  
                  {% if related_item.entry|length > 1 %}<span class="comma">, <span> {% endif %}
                  
                {% endfor %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>


      {% if recommendations %}
        <div class='recommendations'>
          <span class="popular-now-header"><span>Recommendation</span></span>
          <hr>
          <div class="popular-now-body">
            <div class="row">
              {% for show in recommendations %}
                <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4 col-6 show-card">
                  {% if type == "manga" %}
                  <a href="{% url 'manga-details' show.entry.mal_id %}" class="show-item">
                  {% else %}
                  <a href="{% url 'anime-details' show.entry.mal_id %}" class="show-item">
                  {% endif %}
                    <img src="{{show.entry.images.webp.image_url}}" alt="" class="show-img img-fluid">
                    {% if show.entry.title_english %}
                      <p>{{show.entry.title_english}}</p>
                    {% else %}
                      <p>{{show.entry.title}}</p>
                    {% endif %}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}


      {% comment %} <hr>
      <h3>Comments</h3>
      {% if not logged_in %}
        <a href="{{url_for('login')}}" class="btn add-btn">Login to Comment </a>
      {% else %}
      <div class="comment-section">
        {{wtf.quick_form(form, novalidate=True)}}
        {{ckeditor.load(pkg_type="basic")}}
        <hr>
        {% endif %}
        {% for comment in comments %}
        <div class="comment">
          <div class="comment-header">
            <img src="{{comment[1].user_email | gravatar(size=30)}}" class="img-fluid rounded gravatar-pic" alt="profile-pic">
            <span>{{comment[1].user_name}}</span>
          </div>
          <div class="comment-body">
            {{comment[0] | safe}}
          </div>
        </div>
        <hr>
        {% endfor %}
      </div> {% endcomment %}
      
    </div>
  </div>
  
</div>
{% endblock  %}