{% extends 'base.html' %}
{% load static %}

{% block title %}Browse Anime{% endblock  %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'info/info.css' %}" >{% endblock %}

{% block content %}


    <div class="container">
        {% include "info/include/archived_seasonal.html" %}
        {% if form %}
        <section id="browse-form">
            <form action="/browse/anime">
                <div class="row">
                    {% for field in form %}
                    <div class="col-6 control-div">
                        <div class="form-controls">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.error }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12">
                        <button>Submit</button>
                    </div>
                </div>
                
            </form>
        </section>
        {% endif %}

        {% if shows %}
            <section id="browse-list">
                <h2>
                    {% if is_top %}
                        Top 25 Anime
                    {% elif is_popular_manga %}
                        Popular Manga
                    {% elif is_top_manga %}
                        Top 25 Manga
                    {% else %}
                        Results
                    {% endif %}
                </h2>
                <ul>
                {% for show in shows %}
                    <li>
                        <a href="{% if is_manga %}{% url 'manga-details' show.mal_id %}{% else %}{% url 'anime-details' show.mal_id %}{% endif %}" target="_blank">
                            <div class="row">
                                <div class="col-lg-2 col-3 browse-li-div browse-li-img">
                                    <img src="{{show.images.webp.image_url}}" class="img-fluid" alt="{{show.title}}"></img>
                                </div>
                                <div class="col-lg-10 col-9 browse-li-div">
                                    <h3 class="browse-li-heading">
                                        {% if is_top or is_top_manga %}
                                            #{{show.rank}}. 
                                        {% endif %}
                                        {% if show.title_english %}
                                            {{show.title_english}}
                                        {% else %}
                                            {{show.title}}
                                        {% endif %}
                                    </h3>
                                    <div>
                                        <span class="extra-info-box carousel-text">{{show.score}}</span>
                                        <span class="extra-info-box carousel-text">{{show.type}}</span>
                                        <span class="extra-info-box carousel-text">{% if is_manga %}{{show.published.from|slice:":10"}}{% else %}{{show.aired.from|slice:":10"}}{% endif %}</span>
                                    </div>
                                    <p class="synopsis">
                                        {{show.synopsis}}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </secion>
        {% endif %}
    </container>

{% endblock  %}