{% extends 'base.html' %}
{% load static %}

{% block title %}Browse Anime{% endblock  %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'info/info.css' %}" >{% endblock %}

{% block content %}

    <div class="container">
        {% if form %}
        <section id="browse-form">
            <form action="/browse/anime">
                <div class="row">
                    {% for field in form %}
                    <div class="col-6 control-div">
                        <div class="form-controls">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.error }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12">
                        <button>Submit</button>
                    </div>
                </div>
                
            </form>
        </section>
        {% endif %}

        {% if seasons %}
        <div class="seasons">
            <p class="d-inline-flex gap-1">
                <div class="d-grid gap-2">
                    <button class="btn btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Browse More Season
                    </button>
                  </div>
              </p>
            <div class="collapse" id="collapseExample">
                {% for season in seasons %}
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                {% for seasonstr in season.seasons %}
                                    <div class="col-3">
                                        <a href="{% url 'seasonal-anime' season.year seasonstr%}">{{season.year}} {{seasonstr|capfirst}}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% endif %}

        {% if shows %}
            <section id="browse-list">
                <h2>Results</h2>
                <ul>
                {% for show in shows %}
                    <li>
                        <a href="{% url 'anime-details' show.mal_id %}" target="_blank">
                            <div class="row">
                                <div class="col-lg-2 col-3 browse-li-div browse-li-img">
                                    <img src="{{show.images.webp.image_url}}" class="img-fluid" alt="{{show.title}}"></img>
                                </div>
                                <div class="col-lg-10 col-9 browse-li-div">
                                    <h3 class="browse-li-heading">
                                        {% if show.title_english %}
                                            {{show.title_english}}
                                        {% else %}
                                            {{show.title}}
                                        {% endif %}
                                    </h3>
                                    <div>
                                        <span class="extra-info-box carousel-text">{{show.score}}</span>
                                        <span class="extra-info-box carousel-text">{{show.type}}</span>
                                        <span class="extra-info-box carousel-text">{{show.aired.from|slice:":10"}}</span>
                                    </div>
                                    <p class="synopsis">
                                        {{show.synopsis}}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </secion>
        {% endif %}
    </container>

{% endblock  %}