{% extends 'base.html' %}
{% load static %}

{% block title %}Weaboo{% endblock  %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'info/info.css' %}"{% endblock  %}>

{% block content %}
<div class="row content">
  <div class="col-xl-9">
      <section id="left">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-touch="true">
            {% comment %} <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> {% endcomment %}
            <div class="carousel-inner">
              <div class="carousel-item active" style="background-image: url('{{first_show.images.webp.large_image_url}}'); background-repeat: no-repeat;  background-size: 100%">
                <div class="carousel-info ">
                    <h3 class="carousel-title">
                      {% if first_show.title_english %}
                        {{first_show.title_english}}
                      {% else %}
                        {{first_show.title}}
                      {% endif %}
                    </h3>
                    <p class="truncate-overflow carousel-text">{{first_show.synopsis}}
                    <div class="extra-info">
                        <span class="extra-info-box carousel-text">{{first_show.type}}</span>
                        <span class="extra-info-box carousel-text">{{first_show.episodes}} Episodes</span>
                        <span class="extra-info-box carousel-text">{{first_show.duration}}</span>
                    </div>
                    <a href="{% url 'anime-details' first_show.mal_id %}" type="button" class="btn btn-outline-primary detail-button">Details</a>
                </div>
              </div>
            
              {% for show in shows %}
                <div class="carousel-item" style="background-image: url('{{show.images.webp.large_image_url}}'); background-repeat: no-repeat;  background-size: 100%">
                  <div class="carousel-info">
                      <h3 class="carousel-title">
                        {% if show.title_english %}
                          {{show.title_english}}
                        {% else %}
                          {{show.title}}
                        {% endif %}</h3>
                      <p class="truncate-overflow carousel-text">{{show.synopsis}}
                    <div class="extra-info">
                        <span class="extra-info-box carousel-text">{{show.type}}</span>
                        <span class="extra-info-box carousel-text">{{show.episodes}} Episodes</span>
                        <span class="extra-info-box carousel-text">{{show.duration}}</span>
                    </div>
                    <a href="{% url 'anime-details' show.mal_id %}" type="button" class="btn btn-outline-primary detail-button">Details</a>
                  </div>
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class='popular-now'>
            <span class="popular-now-header"><span>Popular Now</span> <a href="{% url 'current-seasonal-anime' %}">More...</a></span>
            <hr>
            <div class="popular-now-body">
              <div class="row">
                {% for show in popular_shows %}
                  <div class="col-xxl-2 col-xl-3 col-md-3 col-sm-4 col-6 show-card">
                    <a href="{% url 'anime-details' show.mal_id %}" class="show-item">
                      <img src="{{show.images.webp.image_url}}" alt="" class="show-img img-fluid">
                      {% if show.title_english %}
                        <p>{{show.title_english}}</p>
                      {% else %}
                        <p>{{show.title}}</p>
                      {% endif %}
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </section>
  </div>
  <div class="col-xl-3 right-box">
    <section id="right">
      <div class='top-manga'>
        <p class='top-manga-header'>Popular Manga<a href="#" class="">More...</a></p>
        <hr>
        <div class="row">
        {% for manga in popular_manga %}
          <div class="col-xl-6 col-lg-3 col-md-3 col-sm-4 col-6">
              <a href="{% url 'manga-details' manga.mal_id %}" class='top-manga-item'>
                <img src="{{manga.images.jpg.image_url}}" alt="{{manga.title}}" class="manga-img img-fluid">
                <p>{{manga.title}}</p>
              </a>
          </div>
          {% endfor %}
          </div>
      </div>
    </section>
  </div>
</div>
{% endblock  %}