{% extends 'base.html' %}
{% load static %}

{% block title %}List{% endblock  %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'info/info.css' %}"{% endblock  %}

{% block content %}
    <div class="container">
        <h1>Seasonal</h1>

        <div class="browse-list">
            <div class=row>
                {% for show in shows %}
                    <div class="col-3">

                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock  %}