{% extends 'base.html' %}
{% load static %}

{% block title %}{{show.title}}{% endblock  %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'info/info.css' %}">{% endblock  %}

{% block content %}

{% comment %} <div class="container text-center">
<section id='header'>
    <div class="img-header" style="background-image: url('{{show.images.webp.large_image_url}}'); background-repeat: no-repeat;  background-size: 100%">
        <div class="background-gradient">
            <img class="header-img img-fluid" src="{{show.images.webp.large_image_url}}" alt="">
        </div>
    </div>

    <div class="header-info">
        <h1 class="show-header-title">{{show.title}}</h1>
    </div>
    <div class="extra-info">
        <span class="extra-info-box carousel-text">{{show.type}}</span>
        <span class="extra-info-box carousel-text">{{show.episodes}} Episodes</span>
        <span class="extra-info-box carousel-text">{{show.duration}}</span>
    </div>
    
</section>
</div> {% endcomment %}

<div class="container">
  <h1 class="title">{{show.title}}</h1>
  <div class="row">
    <div class="col-lg-3 col-md-4 show-info-left">
      <div class="img-div">
        <img src="{{show.images.webp.large_image_url}}" class="img-fluid header-img">
      </div>
        {% comment %} <div class="dropdown">
        <button class="btn shelf-btn dropdown-toggle manage-btn" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          {% if user_shelf %}
          {{user_shelf}}
          {% else %}
          Add Book To
          {% endif %}
        </button>
        <ul class="dropdown-menu manage-btn">
          {% for shelf in shelves %}
          <li><a class="dropdown-item"
              href="{{url_for('add_to_shelf', book_id=book.book_id, book_title=book.title, shelf_id=shelf.shelf_id, user_list=False)}}">{{shelf.shelf_name.title()}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <a href="{{url_for('update_book', book_id=book.book_id)}}"
        class="btn btn-warning manage-btn">Update</a> {% endcomment %}
      
      <div class="sidebar-overview"> 
        <p>Overview</p>
        <hr>
        <ul class="sidebar-list list">
          <li>Type: {{show.type}}</li>
          <li>Chapters: {{show.chapters}}</li>
          <li>Volumes: {{show.volumes}}</li>
          <li> Status: {{show.status}}</li>
          <li>Source: {{show.source|capfirst}}</li>
        </ul>
      </div>
    
    </div>
    <div class="col-lg-9 col-md-8 book-info">
      
      <div class="description">
        <h3>Description</h3>
        <hr>
        <p>{{show.synopsis}}</p>
      </div>

      <div class="related">
        <h3>Related</h3>
        <hr>
        <ul class="list">
          {% for related_item in show.relations %}
            <li>{{related_item.relation|capfirst}}: {% for item in related_item.entry %}{% if related_item.relation == 'Adaptation' %}<a href="#">{{item.name}}</a>{% else %}<a href="{% url 'anime-details' item.mal_id%}">{{item.name}}, </a>{% endif %}{% endfor %}</li>
          {% endfor %}
        </ul>
      </div>
      {% comment %} <hr>
      <h3>Comments</h3>
      {% if not logged_in %}
        <a href="{{url_for('login')}}" class="btn add-btn">Login to Comment </a>
      {% else %}
      <div class="comment-section">
        {{wtf.quick_form(form, novalidate=True)}}
        {{ckeditor.load(pkg_type="basic")}}
        <hr>
        {% endif %}
        {% for comment in comments %}
        <div class="comment">
          <div class="comment-header">
            <img src="{{comment[1].user_email | gravatar(size=30)}}" class="img-fluid rounded gravatar-pic" alt="profile-pic">
            <span>{{comment[1].user_name}}</span>
          </div>
          <div class="comment-body">
            {{comment[0] | safe}}
          </div>
        </div>
        <hr>
        {% endfor %}
      </div> {% endcomment %}
      
    </div>
  </div>
  
</div>
{% endblock  %}